<section style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <form class="mx-1 mx-md-4" [formGroup]="addAccountForm">
                            <p class="text-left h5 fw-bold text-primary" routerLink="/dashboard">Back</p>
                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add Account</p>
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-6 order-1 order-lg-1">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="name">Name</label>
                                            <input type="text" id="name" class="form-control" formControlName="name"
                                                [ngClass]="(addusercontrol['name'].invalid && (addusercontrol['name'].touched || addusercontrol['name'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['name'].invalid && (addusercontrol['name'].touched || addusercontrol['name'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['name'].errors?.['required']">
                                                    Name required
                                                </ng-container>
                                                <ng-container *ngIf="addusercontrol['name'].errors?.['minlength']">
                                                    Name contain atleast 2 characters
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="about">About</label>
                                            <input type="text" id="about" class="form-control" formControlName="about"
                                                [ngClass]="(addusercontrol['about'].invalid && (addusercontrol['about'].touched || addusercontrol['about'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['about'].invalid && (addusercontrol['about'].touched || addusercontrol['about'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['about'].errors?.['required']">
                                                    About required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="website">Website</label>
                                            <input type="text" id="website" class="form-control"
                                                formControlName="website"
                                                [ngClass]="(addusercontrol['website'].invalid && (addusercontrol['website'].touched || addusercontrol['website'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['website'].invalid && (addusercontrol['website'].touched || addusercontrol['website'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['website'].errors?.['required']">
                                                    Website required
                                                </ng-container>
                                                <ng-container *ngIf="addusercontrol['website'].errors?.['pattern']">
                                                    Website be valid
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="phone">Phone</label>
                                            <input type="tel" id="phone" class="form-control" formControlName="phone"
                                                [ngClass]="(addusercontrol['phone'].invalid && (addusercontrol['phone'].touched || addusercontrol['phone'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['phone'].invalid && (addusercontrol['phone'].touched || addusercontrol['phone'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['phone'].errors?.['required']">
                                                    Phone required
                                                </ng-container>
                                                <ng-container *ngIf="addusercontrol['phone'].errors?.['pattern']">
                                                    Phone number should be valid and contain 13 digit
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="phone">Mobile</label>
                                            <input type="tel" id="mobile" class="form-control" formControlName="mobile"
                                                [ngClass]="(addusercontrol['mobile'].invalid && (addusercontrol['mobile'].touched || addusercontrol['mobile'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['mobile'].invalid && (addusercontrol['mobile'].touched || addusercontrol['mobile'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['mobile'].errors?.['required']">
                                                    Mobile required
                                                </ng-container>
                                                <ng-container *ngIf="addusercontrol['mobile'].errors?.['pattern']">
                                                    Mobile number should be valid and contain 13 digit
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="fax">Fax</label>
                                            <input type="text" id="fax" class="form-control" formControlName="fax" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-6 order-1 order-lg-1">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="street">Street</label>
                                            <input type="text" id="street" class="form-control" formControlName="street"
                                                [ngClass]="(addusercontrol['street'].invalid && (addusercontrol['street'].dirty || addusercontrol['street'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['street'].invalid && (addusercontrol['street'].touched || addusercontrol['street'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['street'].errors?.['required']">
                                                    Street required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="city">City</label>
                                            <input type="text" id="city" class="form-control" formControlName="city"
                                                [ngClass]="(addusercontrol['city'].invalid && (addusercontrol['city'].dirty || addusercontrol['city'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['city'].invalid && (addusercontrol['city'].touched || addusercontrol['city'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['city'].errors?.['required']">
                                                    City required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="country">Country</label>
                                            <input type="text" id="country" class="form-control"
                                                formControlName="country"
                                                [ngClass]="(addusercontrol['country'].invalid && (addusercontrol['country'].dirty || addusercontrol['country'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['country'].invalid && (addusercontrol['country'].touched || addusercontrol['country'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['country'].errors?.['required']">
                                                    Country required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="state">State</label>
                                            <input type="text" id="state" class="form-control" formControlName="state"
                                                [ngClass]="(addusercontrol['state'].invalid && (addusercontrol['state'].dirty || addusercontrol['state'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['state'].invalid && (addusercontrol['state'].touched || addusercontrol['state'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['state'].errors?.['required']">
                                                    State required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="zip">Zip</label>
                                            <input type="tel" id="zip" class="form-control" formControlName="zip"
                                                [ngClass]="(addusercontrol['zip'].invalid && (addusercontrol['zip'].dirty || addusercontrol['zip'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['zip'].invalid && (addusercontrol['zip'].touched || addusercontrol['zip'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['zip'].errors?.['required']">
                                                    Zip required
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="(addusercontrol['zip'].errors?.['minlength']) || (addusercontrol['zip'].errors?.['maxlength'])">
                                                    Zip of 6 digit
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="logo">Logo</label>
                                            <input type="file" id="logo" class="form-control" formControlName="logo"
                                                (change)="convertImageToBase64($event)"
                                                accept='image/png, image/jpg, image/jpeg, image/*'
                                                [ngClass]="(addusercontrol['logo'].invalid && (addusercontrol['logo'].dirty || addusercontrol['logo'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="addusercontrol['logo'].invalid && (addusercontrol['logo'].touched || addusercontrol['logo'].dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="addusercontrol['logo'].errors?.['required']">
                                                    Logo required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alert alert-success text-center" *ngIf="isAccountAdd">
                                        <label class="form-check-label">
                                            Account added successfully !!
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center col-lg-12 col-xl-12">
                                <button type="button" class="btn btn-primary btn-lg" (click)="submitForm()"
                                    [disabled]="!addAccountForm.valid">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>