<footer class="bg-body-tertiary text-center">
    <div class="container p-4">
      <section class="">
        <form action="">
          <div class="justify-content-center">
           <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up create dynamic form</strong>
              </p>
            </div>
            <div class="col-md-5 col-12">
            </div>
            <div class="col-auto">
            </div>
          </div>
        </form>
      </section>
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum
          harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <section class="">
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © {{Date | date:'yyyy'}} Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">ATS.com</a>
    </div>
  </footer>