<section>
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form [formGroup]="login">
            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email address</label>
              <input type="email" id="email" class="form-control" formControlName="email" [ngClass]="(field['email'].invalid && (field['email'].dirty || field['email'].touched)) ? 'is-invalid':''"/>
              <div *ngIf="field['email']?.invalid && (field['email']?.touched || field['email']?.dirty)" class="invalid-feedback">
                <div *ngIf="field['email']?.errors?.['required']">
                    Email required
                </div>
                <div *ngIf="field['email']?.errors?.['email']">
                    Email address must be valid
                </div>
              </div>
            </div>
            <div class="form-outline mb-4 fontuser">
              <label class="form-label" for="password">Password</label>
              <input [type]="ispasswordshow ? 'text':'password'" id="password" class="form-control" formControlName="password" [ngClass]="(field['password'].invalid && (field['password'].touched || field['password'].dirty)) ? 'is-invalid':''" />
              <i class="fa fa-sharp fa-thin fa-eye-slash fa-2x" aria-hidden="true" *ngIf="!ispasswordshow" (click)="ispasswordshow = !ispasswordshow"></i>
              <i class="fa fa-sharp fa-thin fa-eye fa-2x" aria-hidden="true" *ngIf="ispasswordshow" (click)="ispasswordshow = !ispasswordshow"></i>
              <div *ngIf="field['password']?.invalid && (field['password']?.dirty || field['password']?.touched)" class="invalid-feedback">
                    <div *ngIf="field['password']?.errors?.['required']">
                    Password required
                    </div>
                    <div *ngIf="field['password']?.errors?.['minlength']">  
                    Password length atleast of 8 characters 
                    </div>
              </div>
            </div>  
            <div class="d-flex justify-content-around mb-4">
              <a [routerLink]="['/sign-up']">Sign up</a>
              <a [routerLink]="['/forget-password']">Forgot password?</a>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!login.valid" (click)="Submit()">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </section>