<section  style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <form class="mx-1 mx-md-4" [formGroup]="signUp">
                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-6 order-1 order-lg-1">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="f_name">First Name</label>
                                            <input type="text" id="f_name" class="form-control"
                                                formControlName="f_name"
                                                [ngClass]="(formField['f_name'].invalid && (formField['f_name'].touched || formField['f_name'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['f_name']?.invalid && (formField['f_name']?.dirty || formField['f_name']?.touched)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['f_name']?.errors?.['required']">
                                                    First name required
                                                </ng-container>
                                                <ng-container *ngIf="formField['f_name']?.errors?.['minlength']">
                                                    Name must be more than 2 character
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="l_name">Last Name</label>
                                            <input type="text" id="l_name" class="form-control"
                                                formControlName="l_name"
                                                [ngClass]="(formField['l_name'].invalid && (formField['l_name'].touched || formField['l_name'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['l_name']?.invalid && (formField['l_name']?.dirty || formField['l_name']?.touched)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['l_name']?.errors?.['required']">
                                                    Last name required
                                                </ng-container>
                                                <ng-container *ngIf="formField['l_name']?.errors?.['minlength']">
                                                    Last Name must be more than 2 character
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="alias">Alias</label>
                                            <input type="text" id="alias" class="form-control" formControlName="alias"
                                                [ngClass]="(formField['alias'].invalid && (formField['alias'].touched || formField['alias'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['alias']?.invalid && (formField['alias']?.touched || formField['alias']?.dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['alias']?.errors?.['required']">
                                                    Alias is required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="dob">DOB</label>
                                            <input type="date" id="dob" class="form-control" formControlName="dob" placeholder="dd-mm-yyyy"
                                                [ngClass]="(formField['dob'].invalid && (formField['dob'].touched || formField['dob'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['dob']?.invalid && (formField['dob']?.touched || formField['dob']?.dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['dob']?.errors?.['required']">
                                                    Date of birth required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="email">Email</label>
                                            <input type="email" id="email" class="form-control"
                                                formControlName="email"
                                                [ngClass]="(formField['email'].invalid && (formField['email'].touched || formField['email'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['email']?.invalid && (formField['email']?.touched || formField['email']?.dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['email']?.errors?.['required']">
                                                    Email address required
                                                </ng-container>
                                                <ng-container *ngIf="formField['email']?.errors?.['email']">
                                                    Email should be valid
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="website">Website</label>
                                            <input type="text" id="website" class="form-control"
                                                formControlName="website" />
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="phone">Phone</label>
                                            <input type="tel" id="phone" class="form-control" formControlName="phone"
                                                [ngClass]="(formField['phone'].invalid &&(formField['phone'].touched || formField['phone'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['phone']?.invalid &&(formField['phone']?.dirty || formField['phone']?.touched)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['phone']?.errors?.['required']">
                                                    Phone number required.
                                                </ng-container>
                                                <ng-container *ngIf="formField['phone']?.errors?.['pattern']">
                                                    Phone number must be valid and must contain 13 digit.
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="mobile">Mobile</label>
                                            <input type="tel" id="mobile" class="form-control" formControlName="mobile"
                                                [ngClass]="(formField['mobile'].invalid &&(formField['mobile'].touched || formField['mobile'].dirty)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['mobile']?.invalid &&(formField['mobile']?.dirty || formField['mobile']?.touched)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['mobile']?.errors?.['required']">
                                                    Mobile number required.
                                                </ng-container>
                                                <ng-container *ngIf="formField['mobile']?.errors?.['pattern']">
                                                    Mobile number must be valid and must contain 13 digit.
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-6 order-1 order-lg-1">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="fax">Fax</label>
                                            <input type="text" id="fax" class="form-control" formControlName="fax" />
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="street">Street</label>
                                            <input type="text" id="street" class="form-control" formControlName="street"
                                                [ngClass]="(formField['street'].invalid &&(formField['street'].dirty || formField['street'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['street'].invalid &&(formField['street'].dirty || formField['street'].touched)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['street'].errors?.['required']">
                                                    Street required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="city">City</label>
                                            <input type="text" id="city" class="form-control" formControlName="city"
                                                [ngClass]="(formField['city'].invalid &&(formField['city'].dirty || formField['city'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['city'].invalid &&(formField['city'].dirty || formField['city'].touched)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['city'].errors?.['required']">
                                                    City required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="country">Country</label>
                                            <input type="text" id="country" class="form-control" formControlName="country"
                                                [ngClass]="(formField['country'].invalid &&(formField['country'].dirty || formField['country'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['country'].invalid &&(formField['country'].dirty || formField['country'].touched)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['country'].errors?.['required']">
                                                    Country required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="state">State</label>
                                            <input type="text" id="state" class="form-control" formControlName="state"
                                                [ngClass]="(formField['state'].invalid &&(formField['state'].dirty || formField['state'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['state'].invalid &&(formField['state'].dirty || formField['state'].touched)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['state'].errors?.['required']">
                                                    State required
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="zip">Zip</label>
                                            <input type="tel" id="zip" class="form-control" formControlName="zip"
                                                [ngClass]="(formField['zip'].invalid &&(formField['zip'].dirty || formField['zip'].touched)) ? 'is-invalid':''" />
                                            <div *ngIf="formField['zip'].invalid &&(formField['zip'].dirty || formField['zip'].touched)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['zip'].errors?.['required']">
                                                    Zip required
                                                </ng-container>
                                                <ng-container *ngIf="(formField['zip'].errors?.['minlength']) || (formField['zip'].errors?.['maxlength'])">
                                                    Zip code of 6 digits only.
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0 fontuser">
                                            <label class="form-label" for="password">Password</label>
                                            <input [type]="ispasswordshow? 'text': 'password'" id="password" class="form-control" formControlName="password"
                                                [ngClass]="(formField['password'].invalid &&(formField['password'].dirty || formField['password'].touched)) ? 'is-invalid':''" />
                                                <i class="fa fa-eye-slash fa-2x" aria-hidden="true" *ngIf="!ispasswordshow" (click)="ispasswordshow = !ispasswordshow"></i>
                                                <i class="fa fa-eye fa-2x" aria-hidden="true" *ngIf="ispasswordshow" (click)="ispasswordshow = !ispasswordshow"></i>
                                            <div *ngIf="formField['password']?.invalid &&(formField['password']?.touched || formField['password']?.dirty)"
                                                class="invalid-feedback">
                                                <ng-container *ngIf="formField['password']?.errors?.['required']">
                                                    Password required.
                                                </ng-container>
                                                <ng-container *ngIf="formField['password']?.errors?.['pattern']">
                                                    Password must contain atleast 1 number, 1 uppercase, 1 special symbol ,and 1 lowercase letter.
                                                </ng-container>
                                                <ng-container *ngIf="formField['password']?.errors?.['minlength']">
                                                    Password length atleast of 8 characters.
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0 fontuser">
                                            <label class="form-label" for="confirmpassword">Repeat your password</label>
                                            <input [type]="isconfirmpasswordshow? 'text': 'password'" id="confirmpassword" class="form-control"
                                                formControlName="confirmpassword"
                                                [ngClass]="(formField['confirmpassword'].invalid &&(formField['confirmpassword'].touched || formField['confirmpassword'].dirty)) ? 'is-invalid':''" />
                                                <i class="fa fa-eye-slash fa-2x" aria-hidden="true" *ngIf="!isconfirmpasswordshow" (click)="isconfirmpasswordshow = !isconfirmpasswordshow"></i>
                                                <i class="fa fa-eye fa-2x" aria-hidden="true" *ngIf="isconfirmpasswordshow" (click)="isconfirmpasswordshow = !isconfirmpasswordshow"></i>      
                                            <div *ngIf="formField['confirmpassword']?.invalid &&(formField['confirmpassword']?.touched || formField['confirmpassword']?.dirty)"
                                                class="invalid-feedback">
                                                <ng-container
                                                    *ngIf="formField['confirmpassword']?.errors?.['required']">
                                                    Confirm password required
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="formField['confirmpassword']?.errors?.['confirmpassword']">
                                                    Password and confirm password doesn't match
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alert alert-success text-center" *ngIf="successDone">
                                        <label class="form-check-label" for="form2Example3">
                                            Form submitted successfully !!
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-around mb-4">
                                        <a [routerLink]="['/login']">Login</a>
                                      </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="button" class="btn btn-primary btn-lg" [disabled]="!signUp.valid" (click)="submit()"
                                            >Register</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>