<div class="flex-column">
  <div class="d-flex justify-content-center">Hii</div>
  <div class="d-flex justify-content-center">Hello</div>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Is email verify</h4>
  </div>
  <div class="modal-body">
    Please verify the email address by click on the link send to your email address. 
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>