<div class="row">
    <div class="card text-center col-7" style="margin-left: 400px;max-width: 500px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <form [formGroup]="email_only" *ngIf="!getOTP">
                <div class="form-outline">
                    <label class="form-label" for="Email">Email</label>
                    <input type="email" id="Email" class="form-control my-3" formControlName="email" />
                    <div *ngIf="emailData['email']?.invalid &&(emailData['email']?.touched || emailData['email']?.dirty || submitted) " style="color: #dc3545;">
                        <ng-container *ngIf="emailData['email']?.errors?.['required'] || submitted">
                            Email address required
                        </ng-container>
                        <ng-container *ngIf="emailData['email']?.errors?.['email']">
                            Email address must be valid
                        </ng-container>
                    </div>                  
                </div>
            </form>
            <form [formGroup]="forget_password" *ngIf="getOTP">
                <div class="form-outline">
                    <label class="form-label" for="typeEmail">Email</label>
                    <input type="email" id="typeEmail" class="form-control my-3" formControlName="email" readonly />
                    <div *ngIf="formData['email']?.invalid &&(formData['email']?.touched || formData['email']?.dirty || submitted) " style="color: #dc3545;">
                        <ng-container *ngIf="formData['email']?.errors?.['required'] || submitted">
                            Email address required
                        </ng-container>
                        <ng-container *ngIf="formData['email']?.errors?.['email']">
                            Email address must be valid
                        </ng-container>
                    </div>                  
                </div>
                <div class="form-outline">
                    <label class="form-label" for="typeotp">OTP input</label>
                    <div class="row my-3">
                        <div class="col"> <input type="text" class="form-control" #otp1 
                                (keyup)="onKeyDown($event,'',otp2)"
                                aria-describedby="emailHelp" maxlength="1" formControlName="otp1">
                        </div>
                        <div class="col"> <input type="text" class="form-control" #otp2
                                (keyup)="onKeyDown($event,otp1,otp3)" 
                                aria-describedby="emailHelp" maxlength="1" formControlName="otp2">                           
                        </div>
                        <div class="col"> <input type="text" class="form-control" #otp3
                                (keyup)="onKeyDown($event,otp2,otp4)" 
                                aria-describedby="emailHelp" maxlength="1" formControlName="otp3">
                        </div>
                        <div class="col"> <input type="text" class="form-control" #otp4
                                (keyup)="onKeyDown($event,otp3,otp5)" 
                                aria-describedby="emailHelp" maxlength="1" formControlName="otp4">
                        </div>
                        <div class="col"> <input type="text" class="form-control" #otp5
                                (keyup)="onKeyDown($event,otp4,otp6)"
                                aria-describedby="emailHelp" maxlength="1" formControlName="otp5">                          
                        </div>
                        <div class="col"> <input type="text" class="form-control" #otp6
                                (keyup)="onKeyDown($event,otp5,'')" 
                                aria-describedby="emailHelp" maxlength="1" formControlName="otp6">
                        </div>                           
                            <div *ngIf="submitted" style="color: #dc3545;">
                                OTP required
                            </div>
                    </div>
                </div>
                <div class="form-outline fontuser">
                    <label for="newpassword">New password</label>
                    <input [type]="ispasswordshow ? 'text':'password'" class="form-control my-2" formControlName="new_password" id="newpassword"
                    [ngClass]="(formData['new_password'].invalid && (formData['new_password'].touched || formData['new_password'].dirty || submitted)) ? 'is-invalid':''" >
                    <i class="fa fa-eye-slash fa-2x" aria-hidden="true" *ngIf="!ispasswordshow" (click)="ispasswordshow = !ispasswordshow"></i>
                    <i class="fa fa-eye fa-2x" aria-hidden="true" *ngIf="ispasswordshow" (click)="ispasswordshow = !ispasswordshow"></i>
                    <div *ngIf="formData['new_password'].invalid && (formData['new_password'].touched || formData['new_password'].dirty || submitted)" class="invalid-feedback">
                        <ng-container *ngIf="(formData['new_password'].errors?.['required']) || submitted">
                            Password required.
                        </ng-container>
                        <ng-container *ngIf="formData['new_password'].errors?.['pattern']">
                            Password must be contain atleast 1 number, 1 uppercase, and 1 lowercase letter.
                        </ng-container>
                        <ng-container *ngIf="formData['new_password']?.errors?.['minlength']">
                            Password length atleast of 8 characters.
                        </ng-container>
                    </div>
                </div>
                <div class="form-outline fontuser">
                    <label for="confirmpassword">Confirm password</label>
                    <input [type]="isconfirmpasswordshow ? 'text' : 'password'" id="confirmpassword" class="form-control my-2" formControlName="confirm_password" 
                    [ngClass]="(formData['confirm_password'].invalid && (formData['confirm_password'].touched || formData['confirm_password'].dirty || submitted))? 'is-invalid':''" >
                    <i class="fa fa-eye-slash fa-2x" aria-hidden="true" *ngIf="!isconfirmpasswordshow" (click)="isconfirmpasswordshow = !isconfirmpasswordshow"></i>
                    <i class="fa fa-eye fa-2x" aria-hidden="true" *ngIf="isconfirmpasswordshow" (click)="isconfirmpasswordshow = !isconfirmpasswordshow"></i>      
                    <div *ngIf="formData['confirm_password'].invalid && (formData['confirm_password'].touched || formData['confirm_password'].dirty || submitted)" class="invalid-feedback" >
                        <ng-container *ngIf="formData['confirm_password'].errors?.['required'] || submitted">
                            Confirm password required
                        </ng-container>
                        <ng-container *ngIf="formData['confirm_password'].errors?.['confirm_password']">
                            Confirm password and password not matched
                        </ng-container>
                    </div>
                </div>
            </form>
            <button class="btn btn-outline-success" (click)="getOTP == false ? sendOtpMail() : resetPassword()" >{{getOTP == false ? "Get OTP" : "Reset Password"}}</button>
            <div class="d-flex justify-content-between mt-4">
                <a [routerLink]="['/login']">Login</a>
                <a [routerLink]="['/sign-up']">Register</a>
            </div>
        </div>
    </div>
</div>